<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, td {
            border: solid;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
</head>
<body>
  <table>
      {% for team in teams %}
        {% if team.id == fav_id %}
          <tr style="background-color: red;">
              {% else %}
          <tr>
        {% endif %}
              <td>{{ forloop.counter }}</td>
              {# Przekazywanie informacji ... zad 4 #}
              <td><a href="/games?id={{ team.id }}">{{ team.name }}</a>
              <a href="/set-favourite?id={{ team.id }}"><button>Zaznacz jako ulubiony</button></a>
              </td>
              <td>{{ team.points }}</td>
          </tr>
      {% endfor %}
  </table>
</body>
</html>