<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, td {
            border: solid;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
</head>
<body>
  <table>
      {% for team in teams %}
          <tr>
              <td>{{ forloop.counter }}</td>
              {# Przekazywanie informacji ... zad 4 #}
              <td><a href="/games?id={{ team.id }}">{{ team.name }}</a></td>
              <td>{{ team.points }}</td>
          </tr>
      {% endfor %}
  </table>
</body>
</html>