<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table style="border: solid; border-collapse: collapse;">

    <tr>
      <th style="border: solid; padding: 8px;">Imię</th>
      <th style="border: solid; padding: 8px;">Nazwisko</th>
    </tr>

    <tr>
      <td style="border: solid; padding: 8px;" >Jan</td>
      <td style="border: solid; padding: 8px;">Kowalski</td>
    </tr>

    <tr>
      <td style="border: solid; padding: 8px;">Adam</td>
      <td style="border: solid; padding: 8px;">Nowak</td>
    </tr>

  </table>
</body>
</html>